@import "tailwindcss";

html, body {
  @apply bg-gray-100 text-gray-900 font-sans;
  
}

input, button {
  @apply transition;
}

/* Global Card Styling */
.card {
  @apply bg-white shadow-md rounded-lg p-6 border border-gray-200;
}

body {
  font-family: 'Inter', sans-serif;
}
